@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.titulo{
    padding: 10px 0 0 20px;
}

header{
    height: 50px;
    display: flex;
    flex-direction: column;
    background: rgb(9, 9, 204);
    color: #FFF;
    font-size: 22px;
    box-shadow: 0 0 15px #999;
}


article{
    height: 485px;
    background-color: rgba(232, 229, 219, 0.462);
    padding-top: 15px;
}

.caixa{
    width: 80%;
    height: 90%;
    background-color: #FFF;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    flex-direction: row;    
}

.card{
    width: 200px;
    height: 210px;
    border-radius: 6px;
    margin: 5px 5px 5px 10px;
    background-color: rgb(239, 250, 250);
}

footer{
    height: 60px;
    background-color: rgb(9, 9, 204);
    color: #FFF;
    font-size: 22px;
}

.texto-rodape{
    padding: 10px 0 0 20px;
}